<app-template-list [list]="articles">
    <ng-container content>
        <div *ngFor="let article of articles; let i = index" class="article-container">
            <!-- <div>
                {{ i }} - {{ article.title }}
                <button (click)="deleteArticle()">Delete</button>
            </div>
            <div>
                {{ article.description }}
            </div>
            <div>
                {{ article.createdDateTime | date:"yyyy-MM-dd" }}
            </div> -->
        </div>
    </ng-container>
</app-template-list>
