

<div class="row">
    <div class="col-md-10">
        <h1>Articles</h1>
    </div>
    <form class="col-md-2 text-end" style="margin-top: 10px;" [formGroup]="searchForm">
        <mat-form-field appearance="outline">
            <mat-label>Search article</mat-label>
            <input formControlName="search" matInput>
        </mat-form-field>
    </form>
</div>

<app-template-list [list]="articles">
    <ng-container content>
        <table mat-table [dataSource]="articles" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="Title" class="">
                <th mat-header-cell *matHeaderCellDef>Title<th>
                <td mat-cell *matCellDef="let element">{{ element.title }}</td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description<th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <ng-container matColumnDef="Category Name">
                <th mat-header-cell *matHeaderCellDef>Category Name<th>
                <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
            </ng-container>

            <ng-container matColumnDef="CreatedDateTime">
                <th mat-header-cell *matHeaderCellDef>CreatedDateTime<th>
                <td mat-cell *matCellDef="let element">{{ element.createdDateTime | date: "YYYY-MMM-dd" }}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/articles/edit/{{element.id}}" mat-flat-button color="primary">Edit</a>
                    <button mat-flat-button color="warn" (click)="deleteArticle(element.id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator showFirstLastButtons [length]="totalAmountOfArticles" [pageSize]="pageSize" (page)="paginateEvent($event)" class="mat-elevation-z8">

        </mat-paginator>
    </ng-container>
</app-template-list>
