<h1>Articles</h1>

<app-template-list [list]="articles">
    <ng-container content>
        <table mat-table [dataSource]="articles" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title<th>
                <td mat-cell *matCellDef="let element">{{ element.title }}</td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description<th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <ng-container matColumnDef="Category Name">
                <th mat-header-cell *matHeaderCellDef>Category Name<th>
                <td mat-cell *matCellDef="let element">{{ element.categoryId }}</td>
            </ng-container>

            <ng-container matColumnDef="CreatedDateTime">
                <th mat-header-cell *matHeaderCellDef>CreatedDateTime<th>
                <td mat-cell *matCellDef="let element">{{ element.createdDateTime | date: "YYYY-MMM-dd" }}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/articles/edit/{{element.id}}" mat-flat-button color="primary">Edit</a>
                    <button mat-flat-button color="warn">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- <div *ngFor="let article of articles; let i = index" class="article-container">
            <div>
                {{ i }} - {{ article.title }}
                <button (click)="deleteArticle()">Delete</button>
            </div>
            <div>
                {{ article.description }}
            </div>
            <div>
                {{ article.createdDateTime | date:"yyyy-MM-dd" }}
            </div>
        </div> -->
    </ng-container>
</app-template-list>
